/* restyle radio items */
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 5px;
}
body{
    width:99%;
    background-color: #cdd8db;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
table {
    width:100%;
}
tr {
    display: flex;
}
td:last-child {
    flex: 1;
}